In [2]:
import pandas as pd

Unemployment Data by county (https://www.bls.gov/lau/#tables)

In [47]:
list_ = []
for x in range(2010,2019):
    #print(str(x)[-2:])
    df = pd.read_fwf(f'https://www.bls.gov/lau/laucnty{str(x)[-2:]}.txt', skiprows = 5)
    list_.append(df)
all_data = pd.concat(list_)
all_data = all_data.dropna()
all_data = all_data.rename(columns = {
    'Unnamed: 3' : 'County',
    'Unnamed: 4' : 'Year',
    'Unnamed: 8' : 'Unemployment_Rate'
})

In [51]:
all_data.Year = all_data.Year.astype(int)
all_data[['Year','County','Unemployment_Rate']]

      Year                       County  Unemployment_Rate
0     2010           Autauga County, AL                8.9
1     2010           Baldwin County, AL               10.0
2     2010           Barbour County, AL               12.3
3     2010              Bibb County, AL               11.4
4     2010            Blount County, AL                9.8
5     2010           Bullock County, AL               11.8
6     2010            Butler County, AL               13.6
7     2010           Calhoun County, AL               11.4
8     2010          Chambers County, AL               14.9
9     2010          Cherokee County, AL               10.6
10    2010           Chilton County, AL               10.3
11    2010           Choctaw County, AL               13.3
12    2010            Clarke County, AL               19.9
13    2010              Clay County, AL               14.5
14    2010          Cleburne County, AL               10.0
15    2010            Coffee County, AL                8.6
16    2010           Colbert County, AL               11.5
17    2010           Conecuh County, AL               17.2
18    2010             Coosa County, AL               15.4
19    2010         Covington County, AL               10.3
20    2010          Crenshaw County, AL               10.2
21    2010           Cullman County, AL               10.4
22    2010              Dale County, AL                8.8
23    2010            Dallas County, AL               16.9
24    2010            DeKalb County, AL               12.7
25    2010            Elmore County, AL                9.1
26    2010          Escambia County, AL               11.8
27    2010            Etowah County, AL               10.9
28    2010           Fayette County, AL               13.0
29    2010          Franklin County, AL               10.7
...    ...                          ...                ...
3189  2018        Maunabo Municipio, PR               15.3
3190  2018       Mayaguez Municipio, PR               11.3
3191  2018           Moca Municipio, PR               11.8
3192  2018        Morovis Municipio, PR                9.8
3193  2018        Naguabo Municipio, PR               11.1
3194  2018      Naranjito Municipio, PR                9.8
3195  2018       Orocovis Municipio, PR               12.3
3196  2018       Patillas Municipio, PR               17.7
3197  2018       Penuelas Municipio, PR               13.8
3198  2018          Ponce Municipio, PR                9.8
3199  2018   Quebradillas Municipio, PR               13.8
3200  2018         Rincon Municipio, PR               14.4
3201  2018     Rio Grande Municipio, PR                9.2
3202  2018  Sabana Grande Municipio, PR               13.8
3203  2018        Salinas Municipio, PR               14.8
3204  2018     San German Municipio, PR               12.1
3205  2018       San Juan Municipio, PR                6.2
3206  2018    San Lorenzo Municipio, PR               10.1
3207  2018  San Sebastian Municipio, PR               14.6
3208  2018   Santa Isabel Municipio, PR               12.8
3209  2018       Toa Alta Municipio, PR                6.3
3210  2018       Toa Baja Municipio, PR                6.6
3211  2018  Trujillo Alto Municipio, PR                5.2
3212  2018         Utuado Municipio, PR               11.6
3213  2018      Vega Alta Municipio, PR                8.8
3214  2018      Vega Baja Municipio, PR               10.4
3215  2018        Vieques Municipio, PR               16.5
3216  2018       Villalba Municipio, PR               15.9
3217  2018        Yabucoa Municipio, PR               14.3
3218  2018          Yauco Municipio, PR               14.7

[28971 rows x 3 columns]

Income Data by County (https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi)

In [3]:
list_ = []
for x in range(2014,2017):
    df = pd.read_csv(f'https://www.irs.gov/pub/irs-soi/{str(x)[-2:]}zpallagi.csv')[['zipcode', 'agi_stub', 'N1']]
    list_.append(df)
    df['year'] = x
income_master = pd.concat(list_)

In [5]:
for index, row in income_master.iterrows():
    if row['agi_stub'] == 1:
        row['income'] = 12500
    elif row['agi_stub'] == 2:
        row['income'] = 37500
    elif row['agi_stub'] == 3:
        row['income'] = 62500
    elif row['agi_stub'] == 4:
        row['income'] = 87500
    elif row['agi_stub'] == 5:
        row['income'] = 150000
    elif row['agi_stub'] == 6:
        row['income'] = 200000

In [6]:
def wavg(val_col_name, wt_col_name):
    def inner(group):
        return (group[val_col_name] * group[wt_col_name]).sum() / group[wt_col_name].sum()
    inner.__name__ = 'wtd_avg'
    return inner

slick = pd.DataFrame(df.groupby('zipcode').apply(wavg('income', 'N1')))

In [7]:
slick

                    0
zipcode
0        58096.788665
1001     57892.538976
1002     70337.197050
1003     15441.176471
1005     60337.552743
1007     71322.559367
1008     64962.121212
1009     49615.384615
1010     68218.085106
1011     55000.000000
1012     59642.857143
1013     42559.241706
1020     49299.604483
1022     45217.391304
1026     55867.346939
1027     58422.256098
1028     75439.393939
1029     62109.375000
1030     64750.000000
1031     47500.000000
1032     62980.769231
1033     65828.173375
1034     69110.576923
1035     64883.093525
1036     72108.208955
1037     68910.256410
1038     69326.923077
1039     64743.589744
1040     42918.681983
1050     57945.736434
...               ...
99765    27500.000000
99766    32196.969697
99769    25595.238095
99770    30921.052632
99772    28750.000000
99777    29807.692308
99780    48575.949367
99782    33189.655172
99785    22500.000000
99786    31250.000000
99789    35326.086957
99791    27205.882353
99801    69185.558354
99820    28676.470588
99824    72775.423729
99826    54464.285714
99827    51082.677165
99829    44871.794872
99830    37500.000000
99833    59186.746988
99835    59093.468468
99840    54707.792208
99901    59246.031746
99919    52403.846154
99921    53915.662651
99922    32954.545455
99925    50872.093023
99926    44545.454545
99929    50817.757009
99999    56022.261025

[29874 rows x 1 columns]

In [12]:
def wavg(val_col_name, wt_col_name):
    def inner(group):
        return (group[val_col_name] * group[wt_col_name]).sum() / group[wt_col_name].sum()
    inner.__name__ = 'wtd_avg'
    return inner

slick = df.groupby('zipcode').apply(wavg('income', 'N1'))

In [14]:
pd.DataFrame(slick)

                    0
zipcode
0        51544.794771
35004    56525.911708
35005    40322.580645
35006    23355.263158

In [15]:
list_ = []
for x in range(2014,2017):
    df = pd.read_csv(f'https://www.irs.gov/pub/irs-soi/{str(x)[-2:]}zpallagi.csv')[['zipcode', 'agi_stub', 'N1']]
    list_.append(df)
    df['year'] = x
income_master = pd.concat(list_)

In [18]:
income_master.to_csv('income_data.csv')